.basic-input {
  display: flex;
  flex-direction: column;
  box-sizing: initial;
  width: 100%;
  padding: 1vh 0vw;
  direction: rtl;

  .row {
    width: fit-content;

    label {
      color: var(--gray);
      font-size: small;
      margin-bottom: 7px;
      position: relative;
      top: 3vh;
      right: 10px;
    }

    .required {
      font-size: 16px;
      color: var(--pink);
    }

    &.focus {
      background-color: var(--white);

      label {
        color: var(--blue);
        background-color: var(--white);
        font-size: 12px;
        top: 1vh;
        right: 5px;
      }

      .required {
        color: var(--pink);
      }
    }
  }

  input {
    font-size: 18px;
    border-radius: 8px;
    border-color: var(--gray);
    border: 1px solid;
    direction: rtl;
    padding: 6px;

    &.disabled {
      color: #D6D7DD;
    }

    &.invalid {
      border-color: var(--pink);
    }

    &.narrow {
      width: 90%;
    }

    &.no-placeholder {
      &::placeholder {
        color: var(--white);
        display: none;
      }
    }
  }

  input::placeholder {
    color: var(--gray);
    font-size: small;

    &:focus {
      color: var(--white);
      display: none;
    }
  }

  :focus {
    border-color: var(--blue);
  }

  .error {
    color: var(--pink);
    font-size: 10px;
  }
}
