<div class="basic-input">
  <div class="row"
    [class.focus]="focusInput || (control.touched && control.value !== '')">
    <label>{{ label }}</label>

    <label *ngIf="required"
      class="required"> * </label>
  </div>

  <input #inputRef
    [type]="type"
    [formControl]="control"
    [class.invalid]="control.touched && control.invalid"
    [class.disabled]="disabled"
    [class.narrow]="narrow"
    [class.no-placeholder]="control.value !== ''"
    (keyup.enter)="enter.emit()"
    (focus)="focusInput = true"
    (focusout)="focusInput = false && focusout.emit()">

  <div class="error"  *ngIf="control.touched && control.errors">
    <span>{{control.errors?.isNumber}}</span>
    <span>{{control.errors?.required}}</span>
  </div>
</div>
