.plus-minus {
  display: flex;
  align-items: center;

  .plus-minus-num-area {
    display: flex;
    justify-content: space-between;

    width: 55px;
    height: 34px;
    margin: 2vh 1vw;
    background: var(--white);
    border: 1px solid var(--darkGray);
    border-radius: 7px;
    cursor: pointer;

    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65%;

      .digit {
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #595E79;
      }
    }

    .plus-minus {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background: var(--ligthBlue);
      border-radius: 0px 6px 6px 0px;
      width: 40%;
      height: 100%;

      span {
        height: 20%;
        padding: 60%;
        color: var(--gray);
      }

      .dwon {
          transform: rotate(180deg);
      }

      &.dwon {
        transform: rotate(180deg);
      }
    }
  }

  .lable {
    font-weight: 400;
    font-size: 15px;
    text-align: right;
    letter-spacing: -0.03em;
    color: #595E79;
  }
}

