<form class="add-file" [formGroup]="form">
  <span class="header">{{ 'הוספת קובץ' }}</span>

  <div class="up">
    <basic-input label="מספר סידורי"
      [control]="form.get('fileID')"
      [required]="true"></basic-input>

    <basic-input label="שם הקובץ"
      [control]="form.get('fileName')"
      [required]="true"></basic-input>

    <basic-input label="סוג הקובץ"
      [control]="form.get('fileType')"
      [required]="true"></basic-input>

    <basic-input label="סוג הגודל"
      [control]="form.get('fileSize').get('sizeType')"
      [required]="true"></basic-input>

    <plus-minus value="{{form.get('fileSize')?.get('siza')?.value || 0}}"
      [lable]="'גודל הקובץ'"></plus-minus>

    <basic-input label="המחבר"
      [control]="form.get('owner')"></basic-input>

    <basic-input label="תאריך חיבור"
      [control]="form.get('createdAt')"></basic-input>

    <!-- <radio name="מוצפן"
      [control]="form.get('encoded')"></radio> -->
  </div>

  <div class="down">
    <button class="basic"
     (click)="save()">שמירה</button>

    <button class="basic"
     (click)="reset()">ניקוי</button>
  </div>
</form>
